<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
          <div class="footer__for-user">
              <p>Для пользователя</p>
              <ul class="footer__list-info">
                  <li class="footer__list-item">
                      <a href="" class="footer__list-link">О совете</a>
                  </li>
                  <li class="footer__list-item">
                      <a href="" class="footer__list-link">Новости</a>
                  </li>
                  <li class="footer__list-item">
                      <a href="" class="footer__list-link">Объявления</a>
                  </li>
                  <li class="footer__list-item">
                      <a href="" class="footer__list-link">Деятельность</a>
                  </li>
                  <li class="footer__list-item">
                      <a href="" class="footer__list-link">Документы</a>
                  </li>
                  <li class="footer__list-item">
                      <a href="" class="footer__list-link">Обращения граждан</a>
                  </li>
                  <li class="footer__list-item">
                      <a href="" class="footer__list-link">Пресс-центр</a>
                  </li>
                  <li class="footer__list-item">
                      <a href="" class="footer__list-link">Контакты</a>
                  </li>
                  <li class="footer__list-item">
                      <a href="" class="footer__list-link">Информационные ресурсы</a>
                  </li>
              </ul>
          </div>
        <div class="footer__contacts">
          <p>Контакты</p>
          <a href="mailto:info@plastilin-art.ru">info@plastilin-art.ru</a>
          <a href="tel:+74712745646">+7 4712 74-56-46</a>
          <div class="footer__icons">

          </div>
        </div>
        <div class="footer__feedback">
          <p>Обратная связь</p>
          <p>Если у вас есть вопросы, задайте их через специальную форму</p>
          <div class="footer__btn">НАПИСАТЬ НАМ</div>

        </div>
    </div>
    <div class="footer__copyright">
      <a href="#" class="footer__copyright-link">Политика конфиденциальности</a>
      <a href="#" class="footer__copyright-link">Карта сайта</a>
      <p class="footer__copyright-desc">© 2024 Готовое решение «OUT IT: Сайт совета муниципальных образований». Все права защищены.</p>
    </div>
  </div>
</footer>
</div>