<section class="info">
    <div class="container">
        <div class="info__wrapper">
            <div class="info__block">
                <p class="info__desc">Президент Российской Федерации</p>
                <a href="" class="info__link">kremlin.ru</a>
            </div>
            
            <div class="info__block">
                <p class="info__desc">Правительство Российской Федерации
                        government.ru</p>
                <a href="" class="info__link">government.ru</a>
            </div>
            
            <div class="info__block">

                    <p class="info__desc">Совет Федерации РФ</p>
                    <a href="" class="info__link">council.gov.ru</a>
            </div>
            
            <div class="info__block">
                <div class="info__text">
                    <p class="info__desc">Федеральное Собрание РФ</p>
                    <a href="" class="info__link">duma.gov.ru</a>
                </div>  
                <svg class="coat">
                  <use xlink:href="img/sprite.svg#coat"></use>
                </svg>  
            </div>
        </div>
    </div>
</section>











