<section class="news">
    <div class="container">
        <div class="news__top">
            <h2 class="news__title">Новости</h2>
            <div class="news__swiper-arrows">

            </div>
        </div>
       
       
        <div class="swiper news__swiper">
          <div class="swiper-wrapper news__swiper-wrapper">
            <div class="swiper-slide news__slide">
                <img src="../img/slide1.jpg" alt="">
            </div>
            <div class="swiper-slide news__slide">
                <img src="../img/slide2.jpg" alt="">
            </div>
            <div class="swiper-slide news__slide">
                <img src="../img/slide3.jpg" alt="">
            </div>
            <div class="swiper-slide news__slide">
                <img src="../img/slide4.jpg" alt="">
            </div>
            <div class="swiper-slide news__slide">
                <img src="../img/slide5.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="swiper-button-prev news__swiper-button-prev"></div>
        <div class="swiper-button-next news__swiper-button-next"></div>

    </div>
</section>